<ion-content>
  <div class="header">
    <div class="app-bar">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div class="logo">
      <img src="assets/logo1.png" alt="logo"/>
    </div>
    <h2>The designer of your success</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Welcome To Family ! </h1>
      <p>Start Your Journey With Data Tech !</p>

      <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Sign In</ion-button>
      <ion-button expand="block" fill="outline" routerLink="/signup">Sign Up</ion-button>

      <div class="line-text">
        <span class="lines"></span>
        <span class="text"> Or connect using</span>
      </div>

      <div class="socials">
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-gi">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
