ion-content{
    --background:#7cd18b;

    .header{
        height: 50%;
        background: #7972e6;
        border-radius: 0 0 20px 20px;
        display:flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;

        #app-bar{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon{
                font-size: 24px;
                margin-left: -5px;

            }

            #logo{
                width: 100px;
                height: 100px;
                background-color: #7972e6;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                align-self:ceter;
                margin-top: 50px;

                img{
                    width: 100px;
                    height: 100px;
                    
                }
            }
        }

        h1{
            font-size: 36px;
            margin-bottom: 10px;
            margin-top: 50px;


        }
        p{
            font-size: 18px;
            line-height: 1.4;
            margin-bottom: 50px;
            color: #000;
        }

    }

    .wrapper{
        position: absolute;
        top: 35%;
        left: 4%;
        right: 4%;
        height: 60%;

        .form-wrapper{
            box-shadow: none;
            border-radius: 20px;
            padding: 15px 10px;
            height: 50%;


            ion-item{
                --background:#efefef;
                --padding-start:10px;
                --heighlight-height:0;
                --border-width:0;
                --padding-top:0;
                --min-height:60px;
                margin-bottom: 15px;
                border-radius: 5px;


                ion-icon{
                    font-size: 25px;

                }

                ion-input{
                    margin-left: 10px;
                    font-size: 16px;

                }
            }

            ion-button{
                margin-top: 25px;
                height: 35px;
            }
        }
        .line-text{
            padding: 2px;
            margin-top: 40px;
            position: relative;
            height:20px;
            .lines{
                height: 1px;
                background: #858585;
                

            }
            .text{
                position: absolute;
                top: -8px;
                left: 50%;
                transform: translateX(-50%);
               
                padding: 0 15px;
                font-weight: 500;
                color: #5e5e5e;
            }
         } 
        .social-wrapper{
            box-shadow: none;
            border-radius: 20px;


            .socials{
                display: flex;
                justify-content: center;
                padding: 5px;

                ion-button{
                    margin: 0 5px;
                    --padding-start:12px;
                    --padding-end:12px;
    
                    ion-icon{
                        font-size: 18px;
    
                    }
    
                }
                .btn-fb{
                    --background: #1877f2;
                    
                }
                .btn-tw{
                    --background:#1DA1F2;
    
                }
                .btn-gi{
                    --background:#171515;
    
                }
                .btn-go{
                    --background:	#DB4437;
    
                }
            }
        }
    }
}